<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup" />
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/ugc.hotel.web" value="25809;True;8424;1;-8587402782405161255" />
  </appSettings>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="cache-control" value="no-cache" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>